* {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./assets/bg-mobile.jpg") no-repeat top center/cover;
  margin: auto;
}

.user {
  width: 360px;
  margin: 56px auto 0px;
}

.user .perfil {
  margin: auto;
  width: 100%;
  display: inline;
  text-align: center;
  padding: 24px;
}

.user .perfil img {
  width: 112px;
  margin: auto;
  display: block;
  border-radius:100%;
}

.user .perfil p {
  font-size: 400;
  line-height: 24px;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
